@font-face {
  font-family: "Cafe24Danjunghae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Cafe24Danjunghae;
  font-style: normal;
  font-weight: normal;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;

  display: flex;
  border: solid 2px;
}
nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
