/* font */
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("./src_assets/fonts/Cafe24Ssurround.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("./src_assets/fonts/Cafe24SsurroundAir.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(./src_assets/img/background.jpg);
}

.App {
  font-family: "Cafe24SsurroundAir";
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;

  cursor: pointer;
  font-size: 16px;
}

.DiaryEditor input {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  box-sizing: border-box;
  width: 90%;
  min-height: 200px;
  resize: vertical;

  padding: 20px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor .control-box {
  padding: 10px;
  cursor: pointer;
}

/* List */

.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList h2 {
  text-align: center;
}

/* Item */
.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: gray;
}

.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
