/* font */
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('./src_assets/fonts/Cafe24Ssurround.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('./src_assets/fonts/Cafe24SsurroundAir.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(./src_assets/img/background.jpg);
  background-size: 100% 100%;
}

.App {
  font-family: 'Cafe24Ssurround';
  font-family: 'Cafe24SsurroundAir';
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* List */
.DiaryList {
  width: 320px;
  padding: 20px;
}

.DiaryList h2 {
  text-align: center;
}

/* Item */
.DiaryItem {
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
