@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('./src_assets/fonts/Cafe24Ssurround.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('./src_assets/fonts/Cafe24SsurroundAir.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(./src_assets/img/background.jpg);
  background-size: 100% 100%;
}

.App {
  font-family: 'Cafe24Ssurround';
  font-family: 'Cafe24SsurroundAir';
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
